html { height: 100% }
body { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
    font-family: 'Helvetica Neue', helvetica, sans-serif;
    background-color: #FFF;
    color: #333;
}

h1, h2, h3 {
    font-weight: 500;
}

.header {
    padding: 5px;
}

.footer {
    padding: 14px;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 960px;
    min-height: 100%;
    width: 100%;
}

.center {
    text-align: center;
}

.circle {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: #EEE;
    color: #333;
    margin: 0 auto;
    text-align: center;
}

.circle-text {
    position: relative;
    top: 38%;
    font-size: 34px;
}

.row {
    position: relative;
    width: 100%;
}

.col-1-2 {
    float: left;
    width: 49.999%
}

/* Tablet */
@media (max-width: 705px) {
    .col-1-2 {
        float: none;
        margin: 0 auto;
        width: 100%
    }
}

/* Iphones */
@media (max-width: 350px) {
    .circle {
        height: 245px;
        width: 245px;
    }
}
