.circle {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: #EEE;
    color: #333;
    margin: 0 auto;
    text-align: center;
}

.circle-text {
    position: relative;
    top: 38%;
    font-size: 34px;
}